 {% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card p-4 shadow" style="max-width:550px; margin:auto; border-radius:15px;">

        <h1 class="text-center mb-4 text-success">
            Payment Page
        </h1>

        <div class="text-center">

            <img src="{{ item.image.url }}"
                 width="220"
                 height="220"
                 class="rounded">

            <h3 class="mt-3">{{ item.name }}</h3>

            <h4 class="text-primary">₹{{ item.price }}</h4>

        </div>

        <hr>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Name On Card</label>

                <input type="text"
                       class="form-control"
                       placeholder="Enter Your Name"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">Card Number</label>

                <input type="text"
                       class="form-control"
                       placeholder="1234 5678 9012 3456"
                       required>
            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">Expiry Date</label>

                    <input type="text"
                           class="form-control"
                           placeholder="MM/YY"
                           required>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">CVV</label>

                    <input type="password"
                           class="form-control"
                           placeholder="123"
                           required>
                </div>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Delivery Address
                </label>

                <textarea class="form-control"
                          rows="3"
                          placeholder="Enter Delivery Address"
                          required></textarea>

            </div>

            <button type="submit"
                    class="btn btn-success w-100 mt-3">
                Pay Now
            </button>

        </form>

    </div>

</div>

{% endblock %}